@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Bold.otf') format('opentype');
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

body {
    display: relative;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: #03045eff;
    color: white;
    font-size: medium;
}

header a:hover {
    color: #caf0f8ff;
}

nav {
    position: sticky;
    z-index: 1;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 8px;
}

nav li {
    position: relative;
    list-style-type: none;
    padding: 0.3em 0.3em;
}

nav li:hover {
    color: #caf0f8ff;
}

.div_underline {
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 0;
    background-color: #caf0f8ff;
    width: 0;
    height: 0.1em;
    transition: all 0.2s ease-in-out;
}

nav li:hover .div_underline,
.div_underline_active {
    left: 0;
    width: 100%;
}

.nav_right {
    width: 700px;
    justify-content: center;
}

.nav_separator {
    background-color: inherit;
    /* Separators hidden */
    width: 1px;
}

.div_main_title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    color: #0077b6ff;
    font-size: 5.7vw;
    font-weight: 700;
    height: 30vw;
    padding-top: 1vw;
    padding-left: 3vw;
}

.div_main_title h1 {
    position: relative;
}

.div_main_title img {
    position: absolute;
    height: 30vw;
    z-index: 0;
}

.body_separator {
    position: relative;
    background-color: #03045eff;
    margin: 1vw 3vw;
    height: 2px;
}

.section_programs {
    display: flex;
    flex-direction: column;
}

.program_element {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 22vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-left: 5vw;
    margin-right: 5vw;
    transition: all 0.2s ease-in-out;
}

.program_element:nth-of-type(odd) {
    flex-direction: row-reverse;
}


.program_element img {
    height: inherit;
    margin-left: 1vw;
    margin-right: 1vw;
}

.program_element_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1vw;
    margin-right: 1vw;
    line-height: 1.6vw;
    height: inherit;
}

.program_element_text h2 {
    position: relative;
    font-size: 1.7vw;
    font-weight: 700;
    color: #03045eff;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.program_div_underline {
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 0;
    background-color: #0077b6ff;
    width: 0;
    height: 0.1em;
    transition: all 0.2s ease-in-out;
}

.program_element_text h2:hover {
    color: #0077b6ff;
}

.program_element_text h2:hover .program_div_underline {
    width: 100%;
    left: 0;
}

.program_element_text_child {
    position: relative;
    padding: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.program_element_text_child ul {
    font-size: 0.85vw;
    font-weight: 400;
    width: 50%;
    height: inherit;
    padding-left: 2vw;
    padding-right: 1vw;
}

.program_element_separator {
    background-color: #03045eff;
    width: 2.1px;
    height: inherit;
}

.program_element:nth-of-type(odd) .program_element_separator {
    width: 2px;
}

.program_element_general_title,
.program_element_horse_title {
    position: absolute;
    width: 0;
    top: 40%;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    text-align: center;
    font-size: 1.5vw;
    overflow: hidden;
    white-space: nowrap;
    color: #03045eff;
    transition: all 0.2s ease-in-out;
}

.program_element_general_title {
    left: 50%;
}

.program_element_horse_title {
    right: 50%;
}

.program_element_text_child_horse_for_hover {
    position: absolute;
    z-index: 1;
    right: 0;
    height: 100%;
    width: 50%;
}

.program_element_text_child_general_for_hover {
    position: absolute;
    z-index: 1;
    left: 0;
    height: 100%;
    width: 50%;
}

.program_element_text_child_horse,
.program_element_text_child_general {
    opacity: 1;
    transition: all 0.2s ease-in-out;
    transition-delay: 0.2s;
}

.program_element_text_child_general_for_hover:hover~.program_element_text_child_horse,
.program_element_text_child_horse_for_hover:hover~.program_element_text_child_general {
    opacity: 0;
    transition-delay: 0s;
}

.program_element_text_child_general_for_hover:hover~.program_element_general_title,
.program_element_text_child_horse_for_hover:hover~.program_element_horse_title {
    width: 50%;
    visibility: visible;
    transition-delay: 0.2s;
}

footer {
    position: absolute;
    width: 100%;
    background-color: #03045eff;
    text-align: center;
    color: white;
    font-size: small;
    padding: 10px;
}

footer a:hover {
    color: #caf0f8ff;
}
